@use '../../styles/variables.scss' as *;

.loading-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $space-5 0;

  &--small .loading-spinner__ring {
    width: 20px;
    height: 20px;
    border-width: 2px;
  }

  &--medium .loading-spinner__ring {
    width: 32px;
    height: 32px;
    border-width: 3px;
  }

  &--large .loading-spinner__ring {
    width: 44px;
    height: 44px;
    border-width: 3px;
  }

  &__ring {
    border-radius: 50%;
    border-style: solid;
    border-color: $gray-200;
    border-top-color: $primary-color;
    animation: spin 0.8s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
