@use '../../styles/variables.scss' as *;

.history {
  min-height: 100vh;
  background-color: $bg-secondary;
  padding: $space-6;

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $space-3;
  }

  &__item {
    background: $bg-primary;
    border-radius: $radius-md;
    overflow: hidden;
    transition: $transition-fast;

    &:active {
      transform: scale(0.97);
    }

    // Staggered heights for waterfall effect
    &--tall .history__image {
      height: 280px;
    }
  }

  &__image {
    width: 100%;
    height: 200px;
    display: block;
  }

  &__info {
    padding: $space-3 $space-4;
  }

  &__prompt {
    display: block;
    font-size: $font-xs;
    color: $text-primary;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__time {
    display: block;
    font-size: $font-xs;
    color: $text-tertiary;
    margin-top: $space-1;
  }

  &__load-more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $space-2;
    padding: $space-6 0;

    &:active {
      opacity: 0.7;
    }
  }

  &__load-more-text {
    font-size: $font-xs;
    color: $primary-color;
  }
}
