@use '../styles/variables.scss' as *;

.style-selector {
  &__title {
    display: block;
    font-size: $font-md;
    font-weight: $weight-bold;
    color: $text-primary;
    margin-bottom: $space-4;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: $space-3;
  }

  &__card {
    background: $bg-primary;
    border-radius: $radius-md;
    padding: $space-4 $space-3;
    border: 2px solid transparent;
    transition: $transition-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    &:active {
      transform: scale(0.97);
    }

    &--selected {
      border-color: $primary-color;
      background: $primary-bg;
    }
  }

  &__swatch {
    width: 36px;
    height: 36px;
    border-radius: $radius-sm;
    margin-bottom: $space-2;
  }

  &__name {
    display: block;
    font-size: $font-sm;
    font-weight: $weight-semibold;
    color: $text-primary;
    margin-bottom: $space-1;
  }

  &__desc {
    display: block;
    font-size: $font-xs;
    color: $text-tertiary;
    line-height: $leading-normal;
  }
}
