@use '../../styles/variables.scss' as *;

.empty-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $space-8 $spacing-large;

  &__graphic {
    position: relative;
    width: 120px;
    height: 120px;
    margin-bottom: $space-6;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  &__dot {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    right: 10px;
    top: 10px;
  }

  &__title {
    font-size: $font-md;
    font-weight: $weight-semibold;
    color: $text-secondary;
    margin-bottom: $space-2;
  }

  &__desc {
    font-size: $font-sm;
    color: $text-tertiary;
    text-align: center;
    line-height: $leading-relaxed;
  }
}
