@use '../../styles/variables.scss' as *;

.prompt-input {
  background: $bg-primary;
  border-radius: $radius-md;
  padding: $space-4;
  border: 1.5px solid $border-color;
  transition: $transition-normal;

  &--focused {
    border-color: $primary-color;
    box-shadow: 0 0 0 3px $primary-bg;
  }

  &__textarea {
    width: 100%;
    min-height: 100px;
    font-size: $font-base;
    color: $text-primary;
    line-height: $leading-relaxed;
  }

  &__placeholder {
    color: $text-tertiary;
    font-size: $font-base;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    margin-top: $space-2;
  }

  &__count {
    font-size: $font-xs;
    color: $text-tertiary;
  }
}
